/* MAQUETA DE COLORES   
#F1D830 Amarillo opaco
#1F1912 Pseudo negro
#C14E35 Naranja opaco
#5BA39B Verde Agua
#BFCAC9 Gris Claro
*/

/*Object fit, ajusta la imagen
object-fit: contain (ajusta la imagen dentro del alto y ancho indicado respetando el aspecto de relación de la imagen)
object-fit: cover (cubre el alto y ancho del espacio con la imagen)*/

.body {
    background-color: #dcebe9;
    font-family: 'Poppins', sans-serif;
    color: #1F1912;
    background: rgb(241, 216, 48);
    background: linear-gradient(320deg, rgba(241, 216, 48, 1) 0%, rgba(191, 202, 201, 1) 47%, rgba(91, 163, 155, 1) 100%);
}

/*Normalizando el código para que el tamaño de la caja incluya el padding y el borde, no incluye el margen. Por defecto se encuentra -- box-sizing: box content --, pero en estos casos tengo que tener en cuenta sumar width, padding y border, en el caso anterior configura todo para que el total de el width especificado*/
* {
    box-sizing: border-box;
}

/*Se cambia a position relative pPara que los elementos hijos tomen posición absoluta con respecto al header y no al body*/
.header {
    position: relative;
}

.h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #1F1912;
    padding: 10px 20px 20px;
    /*Use text shadow para dar borde a las letras, con stroke se perdía el interior amarillo de las letras*/
    text-shadow: -2px 2px 0 #C14E35, 2px 2px 0 #C14E35, 2px -2px 0 #C14E35, -2px -2px 0 #C14E35;
    color: #F1D830;
    animation-duration: 4s;
    animation-name: animacionOpacidad;
    text-align: left;
}

@keyframes animacionOpacidad {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.figure-header {
    /*Incorpore altura máxima porque la imagen era muy alta, y overflow para que el excedente de la imagen (que está al 100%) se oculte*/
    max-height: 600px;
    overflow: hidden;
}

.img-header {
    width: 100%;
}

.h2-header {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    background-color: #F1D830;
    padding: 10px 0px;
    border: 2px solid #1F1912;
    animation-duration: 2s;
    animation-name: animacionAparicion;
}

@keyframes animacionAparicion {
    from {
        transform: scale(1.2, 1);
        opacity: 0%;
    }

    to {
        transform: scale(1, 1);
        opacity: 100%;
    }
}

.img-logo {
    background-color: white;
    /*Logo ocupa 23% el 77% lo ocupa el Main*/
    width: 18%;
    position: absolute;
    top: 110%;
    left: 5%;
    border-radius: 20%;
    border: 2px solid #1F1912;
    box-shadow: 0px 0px 20px white;
}


.nav {
    position: absolute;
    font-size: 25px;
    top: 80px;
    right: 3%;
    text-align: center;
}

.nav li {
    display: inline-block;
    padding: 7px;
    border: 2px solid #1F1912;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #1F1912;
    background-color: #5acabd;
    transition: box-shadow 1s;
    transition-timing-function: ease-in-out;
}

.nav li:hover {
    box-shadow: 0px 0px 20px #1F1912;
}

.nav a {
    color: white;
    text-decoration: none;
    transition: color 1s;
    transition-timing-function: ease-in-out;
}

.nav a:hover {
    color: #F1D830;
}

.main {
    line-height: 2.5;
    margin-left: 25%;
    /*Logo ocupa 25% el 75% lo ocupa el Main*/
    width: 72%;
    right: 5%;
}

.article-main,
.section-main {
    line-height: 1.5;
    margin: 40px 0;
}

.article-main p {
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    text-align: justify;
}

.article-main h3,
.section-main p {
    text-indent: 20px;
    font-size: 25px;
    text-align: justify;
}

.section-main h3 {
    font-size: 25px;
    font-weight: bold;
}

.footer {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 250px 0px 20px 0px;
}

@media screen and (max-width:1050px) {
    .h1 {
        font-size: 40px;
        top: 30px;
        left: 30px;
    }

    .h2-header {
        font-size: 25px;
    }

    .nav {
        top: 60px;
    }

    .main {
        line-height: 2.5;
        margin-left: 25%;
        /*Nav ocupa 25% el 75% lo ocupa el Main*/
        width: 73%;
        right: 2%;
    }

    .nav,
    .article-main p,
    .article-main h3,
    .section-main p,
    .section-main h3 {
        font-size: 18px;
    }

    .footer {
        font-size: 12px;
        margin: 200px 0px 20px 0px;
    }
}

@media screen and (max-width:650px) {
    .h1 {
        font-size: 25px;
        top: 20px;
        left: 20px;
    }

    .h2-header {
        font-size: 18px;
        text-align: center;
    }

    .nav {
        top: 45px;
    }

    .img-logo {
        width: 20%;
        position: absolute;
        top: 75%;
        left: 68%;
        border-radius: 20%;
        animation-duration: 2s;
        animation-name: animacionOpacidad;
    }

    .main {
        line-height: 2.5;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav,
    .article-main p,
    .article-main h3,
    .section-main p,
    .section-main h3 {
        font-size: 15px;
    }

    .footer {
        font-size: 12px;
        margin-top: 50px;
    }
}